/* =========================
globale styles
========================= */

*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

:root {
  /* colors */
  --color-background-top: #0c3240;
  --color-background-second: #103e4f;
  --color-text: whitesmoke;
  --color-border-bottom: rgb(225, 218, 244);

  /* fonts */
  --font-primary: "Raleway", sans-serif;
}



